* {
  margin: auto;
  text-align: center;
}

body {
  background-image: url("../img/sib.jpg");
}

.header img {
  margin-top: 8rem;
  margin-bottom: 3rem;
}

button {
  background-color: rgb(249, 249, 249);
  color: #000000;
  height: 50px;
  width: 120px;
}

table {
  border-collapse: collapse;
  border: 1px solid white;
}

h1 {
  color: #ffe300;
  text-shadow: 1px 5px black;
  font-size: 35px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 30px;
}

h3 {
  color: #ffffff;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 30px;
}

table img {
  width: 15px;
  height: 15px;
}

.cell {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.5em;
}

.ground {
  background-color: rgb(219, 216, 22);
}

.sky {
  background-color: rgb(0, 0, 0);
}

.modal {
  background-image: url("../img/modal.jpg");
  background-size: cover;
  width: 300px;
  height: 300px;
  position: absolute;
  padding: 2rem 2rem;
  border: 1px solid #ffe300;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
}

.modal span {
  position: absolute;
  color: #ffffff;
  text-shadow: 0px 0px #ffe300;
  right: 0;
  left: 0;
  bottom: 100px;
}

.modal button {
  position: absolute;
  background-color: #ffe300;
  color: rgb(0, 0, 0);
  font-size: 20px;
  border-radius: 15px;
  left: 0;
  right: 0;
  bottom: 20px;
}